/*RENKLER

Arkaplan: #404040;

Yazı Rengi: #DCDCDC
Link: .info-text > b {color: #CC2200; text-decoration: none;}

Kartlar: 
Kart text: #808080
*/
:root {
  --p-dark: #161b1d;
  --p-dark-gray: #262a2c;
  --p-gary: #808080;
  --p-light-gray: #dcdcdc;
  --p-orange: #cc2200;
  --p-silver: #c0c0c0;
}

.text-gray {
  color: var(--p-gray);
}

.text-orange {
  color: var(--p-orange);
}

.text-light-gray {
  color: var(--p-light-gray);
}

.card {
  background: linear-gradient(45deg, #0c0e10, #262a2c);
}
